.grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 0px; /* Adjust the gap between images */
    display: inline;
  }
  
  .grid-item {
    size: 300px;
  }
  
  .top-left {
    grid-column: 1;
    grid-row: 1;
  }
  
  .bottom-right {
    grid-column: 2;
    grid-row: 2;
  }
  